.navbar{
	/*background-color:#800000;*/
}

.navbar ul > li > a{
	color:black;
}

.item > img{
	background-attachment: fixed;
}

.row img{
	max-width: 20em;
}

.featurette-image{
	width: auto;
	height:auto;
}

.plain{
	font-size: 1.5em;
	text-align: center;
	padding:2em;
	padding-top:0em;
}

.left{
	text-align:left;
}

.btn-lg{
	background-color:#A10000;
	border-color:white;
}

.btn-lg:hover{
	background-color:#800000;
	border-color:white;
}

a{
	color:#800000;
}

a:hover{
	color:#800000;
	text-decoration: underline;
}

#toTop{
	display: block;
	position: fixed;
	top:85%;
	right:1em;
	padding:10px;
}

.btn-rd{
	border-radius: 50%;
	font-size: 1.5em;
	height:2em;
	width:2em;
	border-color:#A10000;
}

.btn-rd:hover{
	border-color:#800000;
	background-color:#800000;
}

footer{
	margin-bottom:2em;
}